<div class="container pl-sm-1 pr-sm-1">
    <h1 class="text-center d-none  d-sm-block">Please login before start</h1>
    <h2 class="text-center d-sm-none">Please login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12" >

            <div class="card text-white bg-danger mb-3" *ngIf="actionError">
                <div class="card-body">
                    <p class="card-text small">{{actionError}}</p>
                </div>
            </div>

            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <fieldset [disabled]="submitted">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               aria-describedby="emailHelp"
                               placeholder="Enter email"
                               required
                               email
                               aria-invalid="true"
                               [(ngModel)]="model.email"
                               #email="ngModel"
                               [ngClass]="{'is-invalid': loginForm.submitted && email.invalid}"
                        >
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Password"
                                required=""
                                [(ngModel)]="model.password"
                                #password="ngModel"
                                [ngClass]="{'is-invalid': loginForm.submitted && password.invalid}"
                        >
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">
                        Login
                        <i class="fas fa-spinner fa-spin" *ngIf="submitted"></i>
                    </button>

                </fieldset>
            </form>
        </div>
    </div>
</div>